# http://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab

# Kind of dangerous, so left to be declared on a project basis
#insert_final_newline = true
#trim_trailing_whitespace = true

[*.{htm,html,jade,xml}]
indent_size = 2
indent_style = space
