[alias]
	ci = commit
	co = checkout
	lg = log --date=relative --graph --decorate
	stp = subtree push
	ss = status -s

[color]
	diff = auto
	status = auto
	branch = auto

[credential]
	helper = cache

[merge]
	tool = vimdiff

[push]
	default = simple
[user]
	name = Leonardo B
	email = leonardo@diptongonante.com
