snippet info "Default template for PC info files"
title: ${1:Foo}
keywords:
	- bar
annotations:
	- large input
judges:
	uva: 100
	lightoj: 1000
setter: John
contests:
	- Contest
summary: >
	Lorem ipsum.
endsnippet
